* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* border: none; */
  text-decoration: none;
  color: black;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(255, 0, 0, 0.7);
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: auto 0;
  border-bottom: 1px solid black;
  background-color: rgba(200, 0, 0, 0.8);
  position: fixed;
}
header .logo {
  display: flex;
}
.logo img {
  width: 70px;
  margin: auto;
}
.logo p,
.logo a {
  margin: auto;
  color: black;
}
.stacked {
  position: fixed;
  z-index: 100;
  top: 1.5rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  cursor: pointer;
  margin: auto 20px;
}
#close {
  display: none;
}
.navbar {
  position: fixed;
  transform: translateX(200%);
  transition: transform 0.2s;
  height: 100vh;
  width: 50%;
  margin-top: -10px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  list-style: none;
  padding-top: 4rem;
}
.menuItem {
  display: block;
  margin: 1rem 1rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}
.showMenu {
  transform: translateX(100%);
}
main {
  display: block;
  min-height: 85vh;
}
.home {
  text-align: center;
  padding-top: 90px;
  min-height: 100vh;
}
.home img {
  height: 250px;
  width: 450px;
}
.home .tit {
  margin: 55px;
}
.home .tit p.almt {
  color: rgba(0, 0, 0, 0.5);
}
.home .tit .lnk a {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}
#arrow-right {
  font-size: x-small;
  color: white;
}
.menu {
  min-height: 100vh;
  padding-top: 90px;
  margin: 10px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.menu-list-com {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.menu h1,
.menu p {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.listmenuss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.menuss {
  display: block;
  justify-content: left;
}
.menu-img {
  width: 100px;
  height: 100px;
}
.quant {
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
}
.quant p {
  margin: 5px;
}
.about {
  min-height: 100vh;
  padding-top: 90px;
}
/* TABLET */
@media (min-width: 768px) {
  html {
    font-size: larger;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    position: static;
    transform: none;
    display: inline;
    z-index: auto;
    height: auto;
    width: auto;
    padding: 0;
    margin: auto 0px;
    background: none;
    justify-content: right;
    font-size: 10px;
  }
  .menuItem {
    display: inline;
    color: black;
    margin-left: -2px;
  }
  .stacked {
    display: none;
  }
  .home {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 75%;
  }
  .home img {
    margin: auto;
  }
  .home .tit {
    width: 50%;
    text-align: left;
    margin: auto;
    padding-left: 20px;
  }
}

/* Laptop */
@media (min-width: 992px) {
  html {
    font-size: x-large;
  }
}
