* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* border: none; */
  text-decoration: none;
  color: black;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(255, 0, 0, 0.7);
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: auto 0;
  border-bottom: 1px solid black;
  background-color: rgba(200, 0, 0, 0.5);
}
header .logo {
  display: flex;
}
.logo img {
  width: 70px;
  margin: auto;
}
.logo p,
.logo a {
  margin: auto;
  color: black;
}
.navbar {
  display: none;
}
main {
  display: flex;
  min-height: 85vh;
}
.home {
  text-align: center;
  margin: auto;
}
.home img {
  height: 70%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
